---
layout: page
title: Notes
---



{% assign notes = site.notes | sort: 'date' | reverse %}
{% for notes in notes %}

<div class="h-entry note post-stub">
 <h2 class="post-stub"><a href="{{ notes.url | prepend: site.baseurl }}">
   {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ notes.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ notes.date | date: date_to_rfc822 }}
      </time>
   </a></h5>

 <p class="p-content"> {{ notes.content }}
 </p>
 
   {% if notes.image %}
      <div class="post-image">
        <a href="{{ notes.url | relative_url }}" style="
    text-decoration: none;
">
          <img src="{{ notes.image | relative_url }}" alt="{{ notes.alt }}">
          
        </a>
       </div>  
      {% endif %}
 
</div>

{% endfor %}  


<dt class="small">April 28, 2020</dt>

<dd>8 years ago I spent the day in Singapore with my hero Kevin Kelly, then at the end he told me it was his 60th birthday. Today he posted this must-read gem: <a href="https://kk.org/thetechnium/68-bits-of-unsolicited-advice/">https://kk.org/thetechnium/68-bits-of-unsolicited-advice/</a></dd>

<dt class="small">April 20, 2020</dt>

<dd>If you haven’t heard “Tango Til They’re Sore” by Tom Waits (from Rain Dogs) in a while, now’s a good time. <a href="https://www.youtube.com/watch?v=cmRzZX4dRSw">https://www.youtube.com/watch?v=cmRzZX4dRSw</a></dd>
