<div class="sidebar">
    <hr class="visible-xs" />
    <img class="avatar" src="https://pbs.twimg.com/profile_images/1268341146885009416/-Bq10JV__400x400.jpg" alt="Drew DeVault's avatar" />
    <p>I write software. Occasionally, I will compose a post for this blog.   <a href="/about">More.</a></p>
    <div class="external-links">
      <p>
        <span class="context">twitter</span>
        <a href="https://twitter.com/derykmakgill">@derykmakgill</a>
      </p>
      <p>
        <span class="context">github</span>
        <a href="https://github.com/makgill">makgill</a>
      </p>
         <p>
        <span class="context">reddit</span>
        <a href="https://reddit.com/user/mkgll">mkgll</a>
      </p>
      <p>
        <span class="context">email</span>
        <a href="mailto:hello@mkgll.ch">hello@mkgll.ch</a>
      </p>

    </div>
    
     {% if page.url != '/' %}
    <h3>Recent Posts</h3>
    {% for post in site.posts limit: 3 %}
    <div class="post-stub">
      {{ post.date | date: "%Y-%m-%d" }}<br />
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    {% endfor %}
    {% endif %}
    
      {% if page.url != '/' %}
    <h3>Recent Notes</h3>
    {% assign notes = site.notes | sort: 'date' | reverse %}
{% for notes in notes limit:4  %}
   <div class="post-stub">
      <a href="{{ notes.url | prepend: site.baseurl }}">{{ notes.date }}</a>
  </div>
{% endfor %}
      {% endif %}

    
    <h3>Consulting</h3>
    <p>
      <a href="https://sourcehut.org/consultancy/">Click here</a> to learn
      about my consulting services.
    </p>
    <h3>Donate</h3>
    <p>
      <a href="/backers">Click here</a> for information about donating to
      support my work.
    </p>
    <h3>Wayland Book</h3>
    <p>
      Check out
      <a href="https://wayland-book.com">The Wayland Protocol</a>.
    </p>
    <h3>Make your own blog!</h3>
    <!--
    <p>
      Make your own blog and write your first article and
      <a href="/make-a-blog">I'll give you $20</a>.
    </p>
    -->
    <p>
      I offered a reward for readers to start their own blogs,
      <a href="/make-a-blog">read about them here</a>.
    </p>
    <h3>License</h3>
    <p style="font-size: 10pt">
    The content for this site is
    <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
    The <a href="https://git.sr.ht/~sircmpwn/drewdevault.com">code</a> for this site is
    <a href="https://opensource.org/licenses/MIT">MIT</a>.
    </p>
    <small class="text-muted">Have you seen <a href="https://sourcehut.org">sourcehut</a>?</small>
    <div class="spacer" style="margin-top: 50px;"></div>
</div>

  
